!!!
%html{:lang => "el"}
  %head
    %title Τιμής Ένεκεν
    = partial "partials/meta"
    %body
      = partial "partials/navbar"
      %hr
      .container
        = partial "partials/header"
        %section
          %br
          = yield
      %hr
      = partial "partials/footer"
