- blog('shows').articles.group_by {|article| article.title}.each do |title, shows|
  %hr
  .columns
    - profile_picture = shows[0].data.picture
    - tags = shows[0].data.tags
    - crafts = shows[0].data.crafts.join(', ')
    - intro = shows[0].data.intro
    .column.is-one-third
      .card
        .card-image
          %figure.image
            %img{:alt => "profile picture", :src => "#{profile_picture}" }/
        .card-content
          %p.title.is-4 #{title}
          %p <strong>Ιδιότητα</strong>: #{crafts}
          %hr
          %p.subtitle Εισαγωγή
          %p #{intro}
    .column.is-two-thirds
      - shows.reverse.each do |show|
        .card
          .card-content
            %p.subtitle
              = link_to "#{podcast_author_title(title,show.data.part,podcast_author)} ΤΙΜΗΣ ΕΝΕΚΕΝ", show.url
              %a.title{:href => "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Ftimis-eneken.github.io#{show.url.gsub('/', '%2F')}&t=#{show.title.gsub(' ', '%20')}", :rel => "noopener", :target => "_blank", :title => "Share on Facebook"}
                %i.fab.fa-facebook-square
              %a.title{:href => "https://twitter.com/intent/tweet?source=http%3A%2F%2Ftimis-eneken.github.io#{show.url.gsub('/', '%2F')}&text=#{show.title.gsub(' ', '%20')}%20http%3A%2F%2Ftimis-eneken.github.io#{show.url}", :target => "_blank", :title => "Share on Twitter"}
                %i.fab.fa-twitter-square
              %a.title{:href => "http://www.reddit.com/submit?url=http%3A%2F%2Ftimis-eneken.github.io#{show.url.gsub('/', '%2F')}&title=#{show.title.gsub(' ', '%20')}", :target => "_blank", :title => "Submit to Reddit"}
                %i.fab.fa-reddit-square
            %hr
            .media
              .media-left
                .columns
                  .column.is-half
                    %p.subtitle Ραδιοφωνική (πλήρης)
                    %figure
                      %audio{:controls => "", :src => "#{show.data.audio}"}
                        Your browser does not support the
                        %code audio
                        element.
                  .column.is-half
                    %p.subtitle Podcast (τροποποιημένη)
                    %figure
                      %audio{:controls => "", :src => "#{show.data.podcast_audio}"}
                        Your browser does not support the
                        %code audio
                        element.
        %br
        %br
